.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    background: none;
    top: 0px;
    left: 0px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-right: 20px; /* Espace entre les éléments li */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    background: none;
    text-decoration: none;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    padding: 18px;
  }
  
  .logo-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  p {
    color: black;
    font-family: Istok Web;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .navbar img {
    width: 40px;
    height: auto;
    margin-right: 15px;
  }
  
  p#menu {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #menu {
    cursor: pointer;
  }
  
  #menuDeroulant {
    display: none;
    position: absolute;
    top: 100%; /* Positionne le menu en dessous du texte "Administrateur" */
    left: 0;
    right: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }
  
  #menuDeroulant li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 0;
  }
  
  .cercle {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  header {
    background: none;
    padding: 10px;
    display: flex;
    top: 0px;
    left: 0px;
    margin: -10px;
  }
  
  
  /* Styles généraux pour la page */
  body {
    background: url("../img/background.png");
    font-family: Arial, sans-serif;
  }
  
  
  /* Menu deroulant
  Positionnement absolue du menu dans le coin supérieur droit */
  .menu-container {
    display: flex;
    align-items: center;
    padding: 10px; /* Ajoute un peu d'espace autour des éléments */
    width: auto; /* La largeur s'ajustera automatiquement */
  }
  
  .role-image {
    margin-right: 10px; /* Ajoute un peu d'espace entre l'image et le menu déroulant */
    width: 25px; /* Remplacez par la largeur souhaitée en pixels */
  }
  /* fin menu */
  
  
  /* Ajoutez d'autres styles ici selon vos besoins */
  
  
  
  .form-container {
      display:flex;
      justify-content: center;
      align-items: center;
      margin-top: 150px ;
    }
    
    .profile-form {
      width: 100%;
      max-width: 600px; /* Ajustez la largeur maximale selon vos besoins */
      background: #f7f7f7; /* Couleur de fond du formulaire */
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre portée pour un effet 3D subtil */
    }
    
    .input-group {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
    }
    
    .input-field {
      width: 96%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc; /* Bordure des champs de saisie */
      border-radius: 5px; /* Bords arrondis pour les champs de saisie */
    }
    
    .submit-btn {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: grey;
      color: white;
      cursor: pointer;
    }
    
    .submit-btn:hover {
      background-color: #003d82; /* Changement de couleur au survol */
    }
    
    /* Responsive Design */
    @media (max-width: 600px) {
      .profile-form {
        padding: 10px;
      }
    }
  
  h1 {
    text-align :center ;
  }
    